/*メイン*/
@media screen and (max-width: 499px) { 
body{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    background-color: #dded00;

}

/*トップ画面フォント*/

.wf-nicomoji {
    font-family: "Nico Moji";
}


/*ヘッダー*/

/*QUIZ*/

.tophed {
    width: 300px;
    font-family: "Nico Moji";
    color: #666666;
    margin-right: auto;
    margin-left: auto;
    font-size: 100px;
    text-align: center;
    border-bottom: dotted 13px #FFFFFF;
    margin-top: 70px;
}


/*トップ画面始めるボタン*/

.start {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    line-height: 140px;
    font-family: "Nico Moji";
    font-size: 80px;
    color: #696969;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-top: 100px;
}


/*トップ画面復習ボタン*/

.review {
    width: 400px;
    line-height: 180px;
    font-family: "Nico Moji";
    font-size: 80px;
    color: #696969;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-top: 20px;
}


/*トップ画面ボタンモーション*/

.btn-flat-border {
    text-decoration: none;
}

.btn-flat-border div:hover {
    background: #6b8e23;
    color: white;
    transition: .4s;
}


/*クイズ画面ベースのデザイン*/

#base {
    width: 350px;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 40px;
    margin-right: auto;
    margin-left : auto;
}


/*クイズ画面上部問題数デザイン*/

#question {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 0px;
}


/*クイズ画面問題文*/

#sent {
    text-align:center;
    font-size: 10px;
    margin: 10px 20px 30px 20px;
}
#sent img{
    width:300px;
}


#prev{
float: left;
width: 13%;
margin-left: 80px;
margin-top: 0px;
}

#next{
float: left;
width: 13%;;
margin-top: 0px;
}

#page{
float: left;
text-align: center;
font-size: 30px;
margin: 0px 10px;
}


#explanatory{
}
#explanatory img{
    width:300px;
}

/*前の問題へボタン

#leftclick {
    margin-top: 15px;
    margin-right: 465px;
    float: left;
}*/


/*次の問題へボタン*/

#rightclick {
    float: right;
    margin-right: 15px;
    
}

#rightclick img {
    width: 50px;
}


/*ヒントボタン*/

#hint {
    width: 50px;
    float: right;
}

#hint img {
    width: 70px;
    margin-top: 2px;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);
}

.modal-content{
background-color: white;
width: 300px;
margin: 40% auto;
}

.modal-body{
    height:auto;
}

.modal-sentense{
    margin: 40px;
    padding-top: 40px;
}
#close{
  cursor: pointer;
  width: 276px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #dded00;  
}



#top_jump{
    width:165px;
    margin-top:80px;
     color: #FFFFFF;
  margin:50px 25px 0 auto;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
    
}

#top_jump:hover{
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
#top_jump a{
    text-decoration: none;
}

/*選択肢デザイン*/

#list {
    width: 300px;
    margin-top: 0px;
    padding-bottom: 15px;
    font-size: 30px;
    
}

#list,
#lis_s {
    position: relative;
}

#lis_s {
    white-space:normal;
    width:340px;
    height: 50px;
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    border:none;
    /*border-left: solid 8px #EF7D3C;*/s
    /*左側の線*/
    background: #f5f5f5;
    /*背景色*/
    /*下のバーとの余白*/
    line-height: 1.5;
    /*border-radius: 0 15px 15px 0;*/
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
    margin: 0px 5px 5px 5px;
}

#lis_s:hover {
    color: #FEF6F1;
    /*border-left: solid 8px #FEDD74;*/
    /*左側の線*/
    background: #EF7D3C;
    /*背景色*/
    margin-bottom: 5px;
    /*下のバーとの余白*/
    line-height: 1.5;
    /*border-radius: 0 15px 15px 0;*/
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
}

#correct{
   font-size: 50px;
   color:#dc143c;
   text-align: center;
}
#incorrect{
       font-size: 50px;
   color:#0000cd;
   text-align: center;
}

#explanatory{
    
}

#lis_answer{
    white-space:normal;
    width:340px;
    height: 50px;
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    border:none;
    /*border-left: solid 8px #EF7D3C;*/
    /*左側の線*/
    background: #f5f5f5;
    /*背景色*/
    /*下のバーとの余白*/
    line-height: 1.5;
    /*border-radius: 0 15px 15px 0;*/
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
    margin-left:5px;
}

#commentary{
  overflow-wrap: break-word;
  width:340px;
  font-size: 12px;
  color:#FFFFFF;
  background: #696969;
  margin-left:5px;
  margin-bottom: 0px;

}

#result_score{
    text-align: center;
    font-size: 20px;
}

table {
  border-collapse: collapse;
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

table th, table td {
  border: solid 1px black;
  padding: 10px;
}

table th{
 color: #FF9800;
 
 background-color: #FFF5E5;    
}

table td{
 width: 30px;
}

#tweet{
  text-align: center;
  color: #1da1f3;
  font-size: 20px;
  margin-top: 50px;
}

#tweet a{
    text-decoration: none;
}

#tweet :hover{
  color:#88daff;
  transition: .5s;
}

#tweet__square{
    border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  color: #FFF;
  background: #1da1f3;
}

#tweet__square i{
  line-height: 50px;  
}

footer {}

footer p {}
  }

@media screen and (min-width: 500px) { 
body {
    width: 750px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #dded00;

}


/*トップ画面フォント*/

.wf-nicomoji {
    font-family: "Nico Moji";
}


/*ヘッダー*/

/*QUIZ*/

.tophed {
    width: 600px;
    font-family: "Nico Moji";
    color: #666666;
    margin-right: auto;
    margin-left: auto;
    font-size: 120px;
    text-align: center;
    border-bottom: dotted 13px #FFFFFF;
    margin-top: 70px;
}


/*トップ画面始めるボタン*/

.start {
    width: 450px;
    line-height: 180px;
    font-family: "Nico Moji";
    font-size: 80px;
    color: #696969;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-top: 100px;
}


/*トップ画面復習ボタン*/

.review {
    width: 450px;
    line-height: 180px;
    font-family: "Nico Moji";
    font-size: 80px;
    color: #696969;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-top: 20px;
}


/*トップ画面ボタンモーション*/

.btn-flat-border {
    text-decoration: none;
}

.btn-flat-border div:hover {
    background: #6b8e23;
    color: white;
    transition: .4s;
}


/*クイズ画面ベースのデザイン*/

#base {
    width: 600px;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 40px;
    margin-right: auto;
margin-left : auto;
}


/*クイズ画面上部問題数デザイン*/

#question {
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    margin-bottom: 0px;
}


/*クイズ画面問題文*/

#sent {
    text-align:center;
    height: 100%;
    font-size: 20px;
    margin: 10px 20px 30px 20px;
}
#sent img{
    height: 100%;
}


#prev{
float: left;
width: 13%;
margin-left: 160px;
margin-top: -0px;
}

#next{
float: left;
width: 13%;;

}

#page{
float: left;
text-align: center;
font-size: 50px;
margin: 0px 10px;
}


#explanatory{
}
#explanatory img{
    width:550px;
}

/*前の問題へボタン

#leftclick {
    margin-top: 15px;
    margin-right: 465px;
    float: left;
}*/


/*次の問題へボタン*/

#rightclick {
    float: right;
    margin-right: 15px;
    
}

#rightclick img {
    width: 70px;
}


/*ヒントボタン*/

#hint {
    width: 70px;
    float: right;
}

#hint img {
    width: 70px;
    margin-top: 2px;
}

.modal{
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);
}
    

.modal-content{
background-color: white;
width: 500px;
margin: 40% auto;
}

.modal-body{
    height:auto;
}

.modal-sentense{
    margin: 40px;
    padding-top: 40px;
}
#close{
  cursor: pointer;
  width: 476px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #dded00;  
}


#top_jump{
    width:165px;
    margin-top:80px;
     color: #FFFFFF;
  margin:50px 25px 0 auto;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
    
}

#top_jump:hover{
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
#top_jump a{
    text-decoration: none;
}

/*選択肢デザイン*/

#list {
    width: 600px;
    margin-top: 0px;
    padding-bottom: 15px;
    font-size: 30px;
    
}

#list,
#lis_s {
    position: relative;
}

#lis_s {
    white-space:normal;
    width:565px;
    height: 50px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    border:none;
    /*border-left: solid 8px #EF7D3C;*/s
    /*左側の線*/
    background: #f5f5f5;
    /*背景色*/
    margin-bottom: 5px;
    /*下のバーとの余白*/
    line-height: 1.5;
    /*border-radius: 0 15px 15px 0;*/
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
    margin: 0px 0px 5px 15px;
}

#lis_s:hover {
    color: #FEF6F1;
    /*border-left: solid 8px #FEDD74;*/
    /*左側の線*/
    background: #EF7D3C;
    /*背景色*/
    margin-bottom: 5px;
    /*下のバーとの余白*/
    line-height: 1.5;
    /*border-radius: 0 15px 15px 0;*/
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
}

#correct{
   font-size: 80px;
   color:#dc143c;
   text-align: center;
}
#incorrect{
       font-size: 80px;
   color:#0000cd;
   text-align: center;
}

#explanatory{
    
}

#lis_answer{
    white-space:normal;
    width:565px;
    height: 50px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    border:none;
    /*border-left: solid 8px #EF7D3C;*/
    /*左側の線*/
    background: #f5f5f5;
    /*背景色*/
    /*下のバーとの余白*/
    line-height: 1.5;
    /*border-radius: 0 15px 15px 0;*/
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
    margin-left:15px;
}

#commentary{
 overflow-wrap: break-word;
  width:565px;
  color:#FFFFFF;
  background: #696969;
  margin-left:15px;
  margin-bottom: 0px;

}

#result_score{
    text-align: center;
    font-size: 40px;
}

table {
  border-collapse: collapse;
    margin: auto;
    margin-top: -70px;
    text-align: center;
}

table th, table td {
  border: solid 1px black;
  padding: 10px;
}

table th{
 color: #FF9800;
 
 background-color: #FFF5E5;    
}

table td{
 width: 30px;
}

#tweet{
  text-align: center;
  color: #1da1f3;
  font-size: 30px;
  margin-top: 50px;
}

#tweet a{
    text-decoration: none;
}

#tweet :hover{
  color:#88daff;
  transition: .5s;
}

#tweet__square{
    border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  color: #FFF;
  background: #1da1f3;
}

#tweet__square i{
  line-height: 50px;  
}

footer {}

footer p {}
}
